body {
    font-family: Arial, sans-serif;
}

.custom-select {
    position: relative;
    width: 200px;
}

.selected {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
}

.options {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1000;
    width: 100%;
}

.option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.option img {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    margin-right: 10px;
}

.option:hover {
    background-color: #FFFFFF;
}

 


      